<mat-step [stepControl]="thirdFormGroup" errorMessage="This field is required.">
    <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmit3()">
      <ng-template matStepLabel>Menu</ng-template>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Menu name</mat-label>
            <input matInput placeholder="Hot drinks" formControlName="nameCtrl">
          </mat-form-field>
        </p>
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>Drink/food name</mat-label>
            <input matInput placeholder="Espresso" formControlName="itemNameCtrl">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>Price</mat-label>
            <input matInput placeholder="200" formControlName="priceCtrl">
          </mat-form-field></td>
        </tr></table>
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <input matInput formControlName="descCtrl" placeholder="Ingredients: coffee, milk...">
          </mat-form-field>
        </p>

      <div>
        <button mat-fab extended color="primary" class="button5" (ngSubmit)="onSubmit3()" onclick="add()">
          <mat-icon>plus_one</mat-icon>
          Add more
        </button>
      </div>
    </form>
  </mat-step>
