<div class="card text-center" style="width: 28rem;">
  <div class="card-header">
    Item
  </div>
  <div class="card-body">
    <h2 class="card-title">{{ menuItem.drink_food_title }}</h2>
    <h5 class="card-text">{{ menuItem.ingredients }}</h5>
    <a  class="btn btn-primary" *ngIf="condition"  (click)="onAddToCart()">Order</a>
    <a (click)="edit()" class="btn btn-primary">Edit</a>
    <a (click)="delete()" class="btn btn-primary">Delete</a>
  </div>
  <div class="card-footer text-muted">
    Price: {{ menuItem.price }}
  </div>
</div>